/* Listen
---------------------------------------------------------------------------- */

.flex-list {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0;
  margin: var(--xxs);
  gap: var(--xxs);
  list-style: none;
}


.list {
  display: grid;
  padding: 0;
  margin: var(--xxs) var(--xxs) 0 var(--xxs);
  gap: var(--xxs);
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  list-style: none;
}

/* Fav Item
---------------------------------------------------------------------------- */

.fav-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--s) var(--m) var(--s) var(--s);
  margin: 0;
  background-color: var(--color-lightest);

  &::before{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--xxl);
    line-height: var(--l);
  }

  div, p, address{
    margin: 0;
    margin-left: var(--xxs);
    font-style: normal;
    line-height: var(--lh-tight);
  }

  p{
    font-weight: var(--fw-medium);
  }

  address{
    margin-top: var(--xxs);
    font-size: var(--s);
  }
}

/* Cards
---------------------------------------------------------------------------- */
.card-list {
  display: grid;
  align-items: stretch;
  margin: var(--xxs);
  gap: var(--m);
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* .card-list li{
  margin-right: var(--s);
  margin-bottom: var(--xl);
  margin-left: var(--s);
} */

.card-item{
    margin: 0;
    background-color: var(--color-lightest);

    img{
      width: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
    }

    h3{
      padding-top: var(--s);
      padding-left: var(--s);
    }

    p{
      padding-bottom: var(--xxs);
      padding-left: var(--s);
      font-size: var(--s);
    }
}

/* Tag Liste
---------------------------------------------------------------------------- */

.tag-list{
  margin-left: var(--s);

	li{
		display: inline-block;
		padding: var(--quat);
    margin-bottom: var(--half);
		background-color: var(--color-light);
    font-size: var(--s);
	}
}

/* Main Header
---------------------------------------------------------------------------- */

.main-header{
    padding: var(--m) var(--l);
    background-color: var(--color-lightest);

    ul {
      display: flex;
      justify-content: space-between;
      margin-top: var(--m);
      list-style: none;
    }

    li {
      flex: 1;
      text-align: center;
    }
}

/* Willkommen Box
---------------------------------------------------------------------------- */

.willkommen{
    padding: var(--s);
    margin: var(--l);
    background-color: var(--color-orange);
    color: var(--color-lightest);
    line-height: var(--l)
}

/* Main Footer
---------------------------------------------------------------------------- */

.main-footer{
  background-color: var(--color-dark);
  color: var(--color-lightest);

  h4{
    padding-top: var(--m);
    padding-left: var(--s);
  }

  ul{
    padding-top: var(--quat);
    padding-bottom: var(--s);
    margin-left: var(--s);

    li{
      padding-top: var(--quat);
    }
  }
}
